/* Imported roboto font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: roboto, sans-serif;
}

header{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, #1f2937, #ffffff);
}

#logo-img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(82, 11, 11);
}

.nav-list{
    width: 550px;
    height: auto;
    display: flex;
    justify-content:space-evenly ;
    list-style-type: none;
}

.nav-link{
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.nav-link:hover{
    color: rgb(150, 150, 233);
    cursor: pointer;
}

#hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #1f2937;
}

#hero > img{
    width: 600px;
    height: auto;
    margin-left: 150px;
    margin-bottom: 30px;
    border-radius: 0 30px 0 30px;
    box-shadow: 5px 5px 30px black;
}

#hero > #content{
    font-size: 48px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 70px;
}

#hero-text-sm{
    font-size: 16px;
    width: 520px;
    line-height: 30px;
    margin-top: 20px;
}

#hero > #content > button{
    width: 130px;
    height: 60px;
    margin-top: 30px;
    background-color: #3882F6;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 16px black;
}

#hero > #content > button:hover{
    background-color: #376bc0;
    cursor: pointer;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info > h2{
    font-size: 36px;
    margin: 50px 0 50px;
    color: rgb(23, 23, 23)
}

#info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.box-container{
    width:350px;
    height: 370px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #ffffff, rgb(255, 246, 234));
    border-radius: 8px;
}

.box-container > img{
    width: 160px;
    height: auto;
    border-radius: 0 20px 0 0;
    box-shadow: 2px 2px 15px rgb(117, 68, 68);
}

.box-container > p{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: rgb(23, 23, 23);
}